@model Entities.Board

@{
    ViewData["Title"] = "Доп. информация";
}

<h1>Дополнительная информация</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Название:</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoardName)
        </dd>
        <dt class="col-sm-2">
            <label>Дата создания:</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
           <label>Id:</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>
