@model IEnumerable<Entities.Board>

@{
    ViewData["Title"] = "Все доски";
}

<h1>Все доски</h1>

<p>
    <a asp-action="Create">Создать новую доску</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardName)
                </td>
                <td>
                    / @Html.DisplayFor(modelItem => item.Id) /
                </td>
                <td>
                    <a asp-controller="HtmlPosts" asp-route-id="@item.Id" asp-action="Index">Перейти</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Доп. информация</a>
                </td>
            </tr>
        }
    </tbody>
</table>
