@model IEnumerable<Entities.Comment>

@{
    ViewData["Title"] = "Комментарии";
}

<h1>Комментарии</h1>

<p>
    <a asp-action="Create">Создать новый комментарий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Комментарий
            </th>
            <th>
                Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    / @Html.DisplayFor(modelItem => item.Id)/
                </td>
                <td>
                    @Html.ActionLink("Доп. информация", "Details", new { item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="HtmlBoards" asp-action="Index">Назад к списку досок</a>
</div>
